defaults: &defaults
  working_directory: ~/workspace
  docker:
      - image: node:10.14.2-alpine

version: 2
jobs:
  build:
    <<: *defaults
    steps:
      - checkout
      # see if we have the node_modules cached already
      - restore_cache:
          key: 'v1-node-module-cache-{{ .Branch }}-{{ checksum "package.json" }}'
      - run: npm i
      # save the node_modules cache
      - save_cache:
          key: 'v1-node-module-cache-{{ .Branch }}-{{ checksum "package.json" }}'
          paths:
            - ~/workspace/node_modules

      - persist_to_workspace:
          root: ~/workspace
          paths:
            - .
  test:
    <<: *defaults
    steps:
      - attach_workspace:
          at: ~/workspace
      - run:
          command: npm run test
      - store_test_results:
          path: reports/unit-tests
  lint:
    <<: *defaults
    steps:
      - attach_workspace:
          at: ~/workspace
      - run:
          command: npm run lint
workflows:
  version: 2
  build_and_test:
    jobs:
      - build
      - test:
          requires:
            - build